.article-content {
  padding: 1rem 1rem;
}

.article-content h3 {
  font-size: var(--font-title-size);
  font-weight: var(--font-thin-200);
  font-style: italic;
}

.article-content p {
  padding-bottom: 1rem;
}