.header {
  display: grid;
  grid-template-columns: 1fr 11fr;
  gap: 1rem;
  padding:1rem 2rem;
}

.header .header-image img {
  width: 8rem;
  border-radius: 0.4rem;
}

.header-data a {
  text-decoration: none;
  color: inherit;
}

.header-data h2 {
  font-size: var(--font-title-size);
  font-weight: var(--font-thin-200);  
  padding-bottom: 0.5rem;
}

.header-data h3 {
  font-size: var(--font-subtitle-size);
  font-weight: var(--font-thin-200);
  padding-bottom: 1rem;
}
