.header {
  display: grid;
  grid-template-columns: 1fr 11fr;
  gap: 1rem;
  padding:1rem 2rem 0 2rem;
}

.header .header-image img {
  width: 8rem;
  border-radius: 0.4rem;
}

.header-data h2 {
  font-size: 2rem;
  font-weight: 200;  
  padding-bottom: 0.5rem;
}

.header-data h3 {
  font-size: 1.5rem;
  font-weight: 200;
  padding-bottom: 1rem;
}
