:root {
  /*colors*/
  --color-dark: #0b0c0d;
  --color-alpha-dark: rgba(67, 67, 67, 0.3);
  --color-light-white: #fff;
  --color-light-gray: #f1f2f4;
  --color-normal-gray: #717c7d;
  --color-blackboard: #2c2c2c;
  /*fonts*/
  --font-thin-200: 200;
  --font-title-size: 2rem;
  --font-subtitle-size: 1.5rem;
  --font-subtitle-size-1: 1.2rem;
  --font-text-normal: 1rem;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  min-width: 600px;
}

body {
  background: var(--color-light-gray);
  color: var(--color-dark);
}

.layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto; 
  gap: 1rem;
}

.main-block {
  display: grid;
  grid-template-columns: 16rem auto;
  gap: 1rem;
  max-width: 1240px;

}

/*******HELPERS*******/
.box-shadow {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}

.transition {        
  -webkit-transition:all .3s ease-in-out;
  -moz-transition:all .3s ease-in-out;
  -o-transition:all .3s ease-in-out;
  transition:all .3s ease-in-out;
}

.blink {
  animation: blinker 1s linear infinite;
}

.btn {
  padding: 0.5rem 1.5rem;
}

/*******EDITOR CODE*******/
.ql-bubble .ql-editor pre.ql-syntax,
.ql-snow .ql-editor pre.ql-syntax {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}

.ql-bubble .ql-editor h1 {
  font-size: 3rem;
}


@keyframes blinker {
  50% {
    opacity: 0;
  }
}
